@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
  background-color: lightgray;
}
.banner-custom-title {
  border-radius: 10px 10px 0 0;
  width: 800px;
}

.banner-custom-chat{
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  width: 800px;
  padding: 30px;
}

.banner-chat-user{
  width: 50%;
}

.banner-chat-kommander{
  margin-top: 40px;
}

.banner-custom-footer {
  border-radius: 0 0 10px 10px;
  width: 800px;
}

.logo-kommander-chat {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.hour-message {
  font-size: 12px;
  color: grey;
  padding-left: 6px;
}

.info-message-div, .message{
  padding-left: 8px;
}


.btn-microphone {
  background-color: #f3f4f6;
  color: #4b5563;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-microphone:hover {
  background-color: #e5e7eb;
}


.btn-send {
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-send:hover {
  background-color: #2563eb;
}

.btn-audio {
  background-color: #10b981;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 4px;
}

.btn-audio:hover {
  background-color: #059669;
}

.banner-buttons{
  margin-left: 10px;
}

.text-area-custom{
  border: 0;
  background-color: white;
  width: 100%;
  resize: none;
}

textarea:focus{
  outline: none;
}

.text-area-div{
  width: 85%;
}

.buttons-div{
  width: 10%;
}

.div-kommander-message{
  
}