@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

body{
  font-family: "Inter", sans-serif;
  background-color: lightgray;
}

.page-custom{
  padding-top: 200px;
}

.focus\:ring-4:focus,
.focus\:outline-none:focus,
.focus\:z-10:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (min-width: 640px) {
  .sm\:w-auto {
      width: 92%;
  }
}


.banner-custom{
  width: 500px;
  border-radius: 10px 10px 0 0;
}

.banner-custom-bottom{
  width: 500px;
  border-radius: 0 0 10px 10px;
}

.fa-solid{
  line-height: inherit !important;
}

button.button-custom.group.relative.flex.items-stretch.justify-center{
  width: 230px;
}

.button-submit-custom{
  width: 100px;
}

canvas.sound-wave{
  width: 420px;
  border-radius: 10px;
  height: 80px;
}

.container-custom{
   max-width: 900px;
}

input.block.w-full.border{
  width: 250px;
}